body{
    width: 100vw;
    height: 100vh;
}

/* TOP PART */

.result{
    background-color: blue;
    width: 100%;
    height: 30%;
}

.counter{
    display: flex;
    background-color: yellow;
    width: 100%;
    height: 60%;
}

.counter > .player{
    background-color: white;
    width: 50%;
    height: 100%;
}

.counter > .computer{
    background-color: rgb(153, 82, 82);
    width: 50%;
    height: 100%;
}

.counter > .player, .counter > .computer{
    font-family: 'Odibee Sans', cursive;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MIDDLE PART */

.game{
    background-color: white;
    width: 100%;
    height: 60%;
}

.game-counter{
    background-color: aquamarine;
    width: 100%;
    height: 15%;
}

.game-counter{
    font-family: 'Odibee Sans', cursive;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-field{
    display: flex;
    background-color: blueviolet;
    width: 100%;
    height: 85%;
}

.play-field > .player{
    position: relative;
    background-color: orange;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-field > .player > .player-text{
    width: 3em;
    position: absolute;
    left: 20%;
}

.play-field > .player > .player-text > p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Odibee Sans', cursive;
    font-size: 3em;
}

.play-field > .player > .player-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.select-button{
    margin-top: 10px;
}

.select-button > img{
    width: 75px;
    height: 75px;
}

.play-field > .battle{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  10%;
    height: 100%;
}

.battle > span{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}

.play-field > .computer{
    position: relative;
    background-color: bisque;
    width: 45%;
    height: 100%;
}

.play-field > .computer >.computer-text{
    display: flex;
    justify-content: center;
    width: 3em;
    position: absolute;
    right: 20%;
}

.play-field > .computer > .computer-text > p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Odibee Sans', cursive;
    font-size: 2.5em;
}

/* DOWN PART */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 100%;
    height: 10%;
}